@media screen and (max-width: 1450px) {
  .container .column {
    width: 33.33333333333333%;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 1155px) {
  .container .column {
    width: 50%;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 635px) {
  .container .column {
    width: 100%;
    padding: 10px 25px;
  }
}
