.container {
  margin: 0px -25px;
}

#filter-value {
  width: 100%;
  padding: 5px 10px;
}

.column {
  width: 25%;
  padding: 10px 25px;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
}

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #F2F2F2;
  min-width: 270px;
  height: 470px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.post-module .thumbnail {
  background: white;
  height: 400px;
  overflow: hidden;
}

.post-module .thumbnail img {
  display: block;
  width: 100%;
  transition: all 0.3s linear 0s;
}

.post-module:hover .thumbnail img {
  width: 120%;
  margin-left: -10%;
  margin-top: -10%;
}

.post-content {
  position: absolute;
  max-height: 470px;
  bottom: 0;
  background: rgba(242,242,242,.9);
  width: 100%;
  padding: 30px;
}

.post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}
.post-content .price {
  margin: 0;
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
}

.post-content .description {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

@import './Media.css';
