aside .close {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 20px;
  top: 10px;
  color: #E94639;
  font-size: 20px;
  transition: color .2s linear;
}

aside .close:hover {
  color: #ff5f54
}

aside .logo-sidebar {
  display: block;
  padding: 20px 20px;
}

aside .logo-sidebar img {
  width: 100%;
  height: auto;
}

nav li {
  list-style: none;
}

nav li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  transition: background-color .2s linear;
}

nav li a:hover {
  color: #fff;
  display: block;
  background-color: #DF9F3D;
  text-decoration: none;
}
